## Muhammad Amin Quthbi Arabi 
## 2109106076

In [1]:
import pandas as pd
pd.__version__

'1.4.3'

## Menggunakan fungsi pandas yaitu read_csv untuk membaa dataset yang akan di kelola, disini saya menggunakan dataset "players_15.csv", untuk mengelola datanya.

In [17]:
data = pd.read_csv("players_15.csv")

## Memanggil semua record

In [20]:
data

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15461,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
15462,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0
15463,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

##  Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [23]:
data.describe().loc[['mean', 'std', 'max', '25%', '50%', '75%']]

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,mentality_composure
mean,189298.588425,24.763272,181.093631,75.482703,63.948594,68.483091,0.0,0.0,1.126350,2.932363,...,60.617861,50.000799,64.602456,64.709336,60.823840,59.455079,65.955373,43.900763,61.230182,NaN
std,39648.820272,4.624565,6.635182,6.907243,7.208610,6.611708,0.0,0.0,0.401362,0.652270,...,10.800142,15.850317,9.698882,7.855747,8.510626,8.689929,8.374343,8.440858,9.188257,NaN
max,225562.000000,44.000000,203.000000,110.000000,93.000000,95.000000,0.0,0.0,5.000000,5.000000,...,96.000000,90.000000,91.000000,88.000000,87.000000,92.000000,90.000000,66.000000,90.000000,NaN
25%,178043.000000,21.000000,176.000000,70.000000,59.000000,64.000000,0.0,0.0,1.000000,3.000000,...,54.000000,33.000000,58.000000,59.000000,55.000000,53.000000,60.000000,39.000000,54.000000,NaN
50%,200844.000000,24.000000,181.000000,75.000000,64.000000,68.000000,0.0,0.0,1.000000,3.000000,...,62.000000,53.000000,66.000000,64.000000,61.000000,59.000000,65.000000,44.000000,61.000000,NaN
75%,214326.000000,28.000000,186.000000,80.000000,69.000000,73.000000,0.0,0.0,1.000000,3.000000,...,68.000000,63.000000,72.000000,70.000000,67.000000,65.000000,72.000000,49.000000,68.000000,NaN

## Tampilkan 10 record pertama dari attribute angka

In [25]:
number_attribute = data.select_dtypes(include=['number'])
number_attribute.head(10)

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,mentality_composure
0,158023,27,169,67,93,95,0,0,5,3,...,96.0,27.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20801,29,185,80,92,92,0,0,5,4,...,91.0,32.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9014,30,180,80,90,90,0,0,5,2,...,92.0,32.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41236,32,195,95,90,90,0,0,5,4,...,86.0,34.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,167495,28,193,92,90,90,0,0,5,4,...,NaN,NaN,NaN,87.0,85.0,92.0,86.0,60.0,90.0,NaN
5,176580,27,181,81,89,91,0,0,5,4,...,88.0,42.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,183277,23,173,74,88,90,0,0,4,4,...,91.0,32.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7826,30,187,71,88,88,0,0,5,3,...,83.0,33.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,121944,29,183,79,88,88,0,0,4,3,...,82.0,78.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,156616,31,170,72,88,88,0,0,4,4,...,92.0,29.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Di dalam kolom tadi ada beberapa attribute yang memiliki beberapa kolom, jadi disini akan Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. dan akan menampilkan isi dari dictionary tersebut sebagus mungkin.

In [26]:
num_records = len(data)
num_attributes = len(data.columns)
attribute_names = list(data.columns)
numeric_attributes = len(data.select_dtypes(include=['number']).columns)
info_dict = {
    'Jumlah Record'                   : num_records,
    'Jumlah Atribut'                  : num_attributes,
    'Nama Atribut'                    : attribute_names,
    'Jumlah Atribut dengan Tipe Angka': numeric_attributes
}
for key, value in info_dict.items():
    print(f'{key}: {value}')

Jumlah Record: 15465
Jumlah Atribut: 104
Nama Atribut: ['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']
Jumlah Atribut dengan Tipe Angka: 28

##  Menampilkan nilai dataset pada baris dimulai dari NIM saya yaitu 76 hingga baris terakhir, dan mulai dari kolom 4 hingga  kolom atau attribute terakhir, dengan menggunakan metode slice "loc"

In [27]:
data.loc[76:, data.columns[3:]]

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
76,Antonio Candreva,27,1987-02-28,181,72,Italy,Lazio,83,84,0,...,74+0,73+0,73+0,73+0,74+0,70+0,63+0,63+0,63+0,70+0
77,Roman Weidenfeller,33,1980-08-06,188,85,Germany,Borussia Dortmund,83,83,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,John Terry,33,1980-12-07,187,90,England,Chelsea,83,83,0,...,68+1,74+1,74+1,74+1,68+1,75+1,82+1,82+1,82+1,75+1
79,Per Mertesacker,29,1984-09-29,198,90,Germany,Arsenal,83,83,0,...,69+1,75+1,75+1,75+1,69+1,75+1,82+1,82+1,82+1,75+1
80,Jérémy Toulalan,30,1983-09-10,183,77,France,AS Monaco,83,83,0,...,78+1,82+1,82+1,82+1,78+1,79+1,78+1,78+1,78+1,79+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,41,61,0,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15461,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,41,50,0,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
15462,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,40,50,0,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0
15463,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,40,49,0,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,40,40,0,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

##  Menampilkan nilai dataset pada baris dimulai dari NIM saya yaitu 76 hingga baris terakhir, dan mulai dari kolom 4 hingga  kolom atau attribute terakhir, dengan menggunakan metode slice "iloc"

In [28]:
data.iloc[76:, 3:]

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
76,Antonio Candreva,27,1987-02-28,181,72,Italy,Lazio,83,84,0,...,74+0,73+0,73+0,73+0,74+0,70+0,63+0,63+0,63+0,70+0
77,Roman Weidenfeller,33,1980-08-06,188,85,Germany,Borussia Dortmund,83,83,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,John Terry,33,1980-12-07,187,90,England,Chelsea,83,83,0,...,68+1,74+1,74+1,74+1,68+1,75+1,82+1,82+1,82+1,75+1
79,Per Mertesacker,29,1984-09-29,198,90,Germany,Arsenal,83,83,0,...,69+1,75+1,75+1,75+1,69+1,75+1,82+1,82+1,82+1,75+1
80,Jérémy Toulalan,30,1983-09-10,183,77,France,AS Monaco,83,83,0,...,78+1,82+1,82+1,82+1,78+1,79+1,78+1,78+1,78+1,79+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,41,61,0,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15461,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,41,50,0,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
15462,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,40,50,0,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0
15463,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,40,49,0,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,40,40,0,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

##  Menampilkan  jumlah nilai dari semua attribute yang bernilai object

In [30]:
objectList = data.select_dtypes(include=['object']).columns.tolist()
objectList.pop(0)

for i in objectList:
    print(data[i].value_counts())

J. Silva            7
J. Rodríguez        6
A. González         6
J. Gómez            6
J. Martínez         6
                   ..
B. Vandenbussche    1
A. Danielsen        1
K. Wæhler           1
S. Duits            1
P. Tisdale          1
Name: short_name, Length: 14555, dtype: int64
Tommy Smith          3
Paul Robinson        3
Liam Kelly           3
Scott Brown          3
Ben Davies           3
                    ..
Christian Eigler     1
Dario Krešić         1
Robert Lechleiter    1
Francesco Benussi    1
Paul Tisdale         1
Name: long_name, Length: 15409, dtype: int64
1988-01-01    16
1995-01-01    15
1992-01-01    14
1993-02-07    12
1989-02-25    11
              ..
1984-09-30     1
1982-10-30     1
1986-02-08     1
1985-02-03     1
1973-01-14     1
Name: dob, Length: 5809, dtype: int64
England          1579
Spain            1022
France            875
Argentina         861
Italy             778
                 ...
Bahrain             1
Guam                1
Niger               1
Oman                1
Liechtenstein       1
Name: nationality, Length: 148, dtype: int64
Villarreal CF             33
Olympique Lyonnais        33
Everton                   33
Toulouse Football Club    33
FC Nantes                 33
                          ..
Sweden                     1
Colombia                   1
Austria                    1
Netherlands                1
Dagenham and Redbridge     1
Name: club, Length: 596, dtype: int64
CB                 1783
GK                 1703
ST                 1602
CM                  772
LB                  600
                   ...
CAM, CM, CF, LM       1
LM, RM, LW, CM        1
ST, CF, CAM, RM       1
LW, RM, CAM, LM       1
LB, RM                1
Name: player_positions, Length: 875, dtype: int64
Right    11928
Left      3537
Name: preferred_foot, dtype: int64
Medium/Medium    9145
High/Medium      2246
Medium/High      1221
Medium/Low        914
High/Low          606
High/High         490
Low/Medium        429
Low/High          381
Low/Low            33
Name: work_rate, dtype: int64
Normal    9445
Lean      5106
Stocky     914
Name: body_type, dtype: int64
No     14683
Yes      782
Name: real_face, dtype: int64
#Strength                                                                                                  420
#Acrobat                                                                                                   191
#Engine                                                                                                    137
#Speedster                                                                                                 132
#Speedster, #Acrobat                                                                                        77
#Aerial Threat, #Strength                                                                                   44
#Aerial Threat                                                                                              32
#Dribbler, #Acrobat                                                                                         24
#Dribbler                                                                                                   16
#Crosser                                                                                                    10
#FK Specialist                                                                                               8
#Tactician                                                                                                   8
#Distance Shooter                                                                                            7
#Poacher                                                                                                     7
#Playmaker                                                                                                   7
#Speedster, #Dribbler, #Acrobat                                                                              6
#Tackling , #Tactician                                                                                       5
#Dribbler, #Playmaker  , #Acrobat                                                                            4
#Speedster, #Engine                                                                                          4
#Engine, #Tactician                                                                                          3
#Playmaker  , #FK Specialist                                                                                 3
#Tackling                                                                                                    3
#Clinical Finisher                                                                                           2
#Engine, #Strength                                                                                           2
#Distance Shooter, #Crosser, #FK Specialist                                                                  2
#Distance Shooter, #Clinical Finisher                                                                        2
#Distance Shooter, #Strength                                                                                 2
#Speedster, #Dribbler                                                                                        2
#Engine, #Tackling , #Tactician                                                                              2
#Distance Shooter, #FK Specialist                                                                            2
#Tackling , #Tactician , #Strength, #Complete Defender                                                       2
#Poacher, #Distance Shooter, #FK Specialist, #Clinical Finisher                                              1
#Poacher, #Strength                                                                                          1
#Distance Shooter, #Crosser                                                                                  1
#Dribbler, #Engine, #Acrobat                                                                                 1
#Poacher, #Clinical Finisher                                                                                 1
#Dribbler, #FK Specialist                                                                                    1
#Dribbler, #Crosser                                                                                          1
#FK Specialist, #Acrobat                                                                                     1
#Speedster, #Dribbler, #FK Specialist, #Acrobat, #Clinical Finisher, #Complete Forward                       1
#Dribbler, #Engine, #Clinical Finisher                                                                       1
#Aerial Threat, #Tactician , #Strength                                                                       1
#Tackling , #Strength                                                                                        1
#Speedster, #Dribbler, #Distance Shooter, #Acrobat                                                           1
#Poacher, #Aerial Threat, #Distance Shooter, #Acrobat, #Strength, #Clinical Finisher, #Complete Forward      1
#Acrobat, #Clinical Finisher                                                                                 1
#Playmaker  , #Engine, #Tactician                                                                            1
#Speedster, #Distance Shooter                                                                                1
#Aerial Threat, #Tackling , #Tactician , #Strength, #Complete Defender                                       1
#Speedster, #Dribbler, #Crosser, #Acrobat                                                                    1
#Speedster, #Dribbler, #Distance Shooter, #FK Specialist, #Acrobat                                           1
#Engine, #Clinical Finisher                                                                                  1
#Dribbler, #Playmaker                                                                                        1
#Engine, #Distance Shooter, #Clinical Finisher                                                               1
#Playmaker  , #Distance Shooter, #Crosser, #Complete Midfielder                                              1
#Playmaker  , #Acrobat                                                                                       1
#Speedster, #Dribbler, #Distance Shooter, #Acrobat, #Clinical Finisher, #Complete Forward                    1
#Tactician , #Strength                                                                                       1
#Engine, #Acrobat                                                                                            1
Name: player_tags, dtype: int64
SUB    6586
RES    2581
RCB     554
GK      553
LCB     552
LB      509
RB      506
LM      383
RM      383
ST      354
RCM     321
LCM     317
CAM     278
RDM     223
LDM     219
LS      195
RS      195
CDM     121
LW      107
RW      105
CM       56
CB       42
RAM      19
LAM      19
RWB      18
LWB      18
CF        9
RF        5
LF        5
Name: team_position, dtype: int64
Milan                       13
AS Monaco                   11
Atlético Madrid             11
Atalanta                    11
SL Benfica                  10
                            ..
FC Girondins de Bordeaux     1
Lillestrøm SK                1
Club Olimpo                  1
CD Nacional                  1
FC Seoul                     1
Name: loaned_from, Length: 277, dtype: int64
2013-07-01    989
2014-07-01    954
2012-07-01    735
2012-01-01    608
2013-01-01    539
             ...
2009-06-04      1
1997-06-01      1
2011-06-28      1
2012-08-27      1
2006-06-26      1
Name: joined, Length: 1128, dtype: int64
SUB    552
RCB     46
GK      46
LCB     46
RB      41
LB      41
LM      33
RM      33
ST      32
RCM     28
LCM     27
CAM     21
CDM     15
RDM     15
LDM     15
LS      13
RS      13
RW       8
LW       7
CM       5
CB       5
LAM      3
RAM      3
RWB      2
CF       2
LWB      2
LF       1
RF       1
Name: nation_position, dtype: int64
Injury Prone                                                                                       393
Speed Dribbler (CPU AI Only)                                                                       365
Power Header                                                                                       315
Long Shot Taker (CPU AI Only)                                                                      280
Technical Dribbler (CPU AI Only)                                                                   270
                                                                                                  ...
Injury Prone, GK Up for Corners                                                                      1
Long Throw-in, Power Free-Kick, Selfish, Long Shot Taker (CPU AI Only), Playmaker (CPU AI Only)      1
Leadership, Playmaker (CPU AI Only), One Club Player                                                 1
Avoids Using Weaker Foot, Early Crosser, Team Player                                                 1
Power Free-Kick, Injury Free, Long Passer (CPU AI Only)                                              1
Name: player_traits, Length: 823, dtype: int64
25       1782
58        364
62        356
61        326
60        323
         ...
85+39       1
60-5        1
42+9        1
58+25       1
42+6        1
Name: attacking_crossing, Length: 898, dtype: int64
25      2238
60       321
59       275
58       270
55       262
        ...
75-4       1
29-3       1
47+7       1
32+3       1
40+3       1
Name: attacking_finishing, Length: 921, dtype: int64
25       1643
58        425
52        389
59        384
62        369
         ...
76+7        1
42-5        1
71+11       1
68+16       1
32+1        1
Name: attacking_heading_accuracy, Length: 807, dtype: int64
64       499
63       456
62       455
60       442
65       420
        ...
58+23      1
58-7       1
43-6       1
67+26      1
60+9       1
Name: attacking_short_passing, Length: 842, dtype: int64
25       2044
58        305
46        299
48        288
42        287
         ...
57+31       1
58+8        1
26+2        1
62+39       1
39+2        1
Name: attacking_volleys, Length: 707, dtype: int64
25       1711
64        412
61        400
60        390
62        385
         ...
46+5        1
75+13       1
39-7        1
42+6        1
51+10       1
Name: skill_dribbling, Length: 924, dtype: int64
25       1783
48        337
58        295
41        291
52        287
         ...
47+10       1
74+7        1
61+4        1
74+22       1
50+18       1
Name: skill_curve, Length: 769, dtype: int64
25       1877
31        315
32        314
41        313
34        309
         ...
79-7        1
39+17       1
64-2        1
56-3        1
50+13       1
Name: skill_fk_accuracy, Length: 745, dtype: int64
25       556
58       426
60       383
56       376
62       367
        ...
41-9       1
43-12      1
74+6       1
55-8       1
23+2       1
Name: skill_long_passing, Length: 928, dtype: int64
25       552
65       484
63       479
62       448
64       446
        ...
62+17      1
64+8       1
76+14      1
41+5       1
36+3       1
Name: skill_ball_control, Length: 876, dtype: int64
68       499
69       397
67       396
66       391
65       379
        ...
43-10      1
30-13      1
33-20      1
52-11      1
47-9       1
Name: movement_acceleration, Length: 1234, dtype: int64
68       613
69       473
67       472
65       443
66       401
        ...
32-16      1
83+14      1
60+3       1
43+9       1
46-12      1
Name: movement_sprint_speed, Length: 1244, dtype: int64
58       460
57       399
72       398
71       381
70       379
        ...
29-34      1
59-17      1
58-11      1
84+19      1
36-35      1
Name: movement_agility, Length: 1210, dtype: int64
58       505
54       504
64       495
66       470
63       467
        ...
56-12      1
61-13      1
64+11      1
61+9       1
22         1
Name: movement_reactions, Length: 767, dtype: int64
65       489
70       474
72       409
71       409
64       395
        ...
92-1       1
90+29      1
73+7       1
40-10      1
68+21      1
Name: movement_balance, Length: 1165, dtype: int64
25       553
58       394
65       382
62       364
68       355
        ...
49+7       1
52+20      1
49+6       1
67+6       1
45+7       1
Name: power_shot_power, Length: 758, dtype: int64
71       504
70       483
72       468
62       452
64       450
        ...
45-2       1
42-25      1
60-3       1
83+4       1
48+2       1
Name: power_jumping, Length: 1197, dtype: int64
64       424
70       416
68       412
71       373
72       369
        ...
21-3       1
79-6       1
31+3       1
86-2       1
38-13      1
Name: power_stamina, Length: 1322, dtype: int64
70       462
58       432
72       407
64       400
74       392
        ...
34+1       1
36+3       1
88+7       1
64+24      1
75+14      1
Name: power_strength, Length: 1195, dtype: int64
25       2103
58        341
55        338
56        322
60        308
         ...
61+20       1
44+10       1
50+6        1
58+20       1
40+2        1
Name: power_long_shots, Length: 848, dtype: int64
25       487
64       344
58       338
55       313
62       312
        ...
28+6       1
65-13      1
81+10      1
78+4       1
40+5       1
Name: mentality_aggression, Length: 921, dtype: int64
25       2055
21        396
22        381
23        337
64        312
         ...
41+11       1
68-2        1
64-7        1
56-6        1
34+7        1
Name: mentality_interceptions, Length: 889, dtype: int64
25       1918
58        361
55        344
56        330
52        330
         ...
41+11       1
28-19       1
62+15       1
75-5        1
46+9        1
Name: mentality_positioning, Length: 905, dtype: int64
25       1613
58        368
48        347
54        344
52        332
         ...
70+15       1
33-23       1
65-5        1
65+9        1
46+4        1
Name: mentality_vision, Length: 973, dtype: int64
25       577
58       364
45       360
48       354
60       346
        ...
68+9       1
61+12      1
46+3       1
67+6       1
44+11      1
Name: mentality_penalties, Length: 646, dtype: int64
25       3587
58        296
60        279
62        279
64        267
         ...
83+2        1
23-8        1
70-5        1
82+7        1
52+16       1
Name: defending_marking, Length: 853, dtype: int64
25       3021
64        334
62        333
63        325
65        319
         ...
65+16       1
68+8        1
36-18       1
67+20       1
38+2        1
Name: defending_standing_tackle, Length: 871, dtype: int64
25       3400
60        337
61        325
62        322
63        295
         ...
45-14       1
74+10       1
33+13       1
41-14       1
48+7        1
Name: defending_sliding_tackle, Length: 838, dtype: int64
7       1283
14      1268
8       1247
6       1238
11      1233
        ...
76+2       1
68+7       1
66-5       1
66+2       1
41         1
Name: goalkeeping_diving, Length: 306, dtype: int64
11       1293
7        1251
9        1246
12       1244
10       1242
         ...
37          1
63+10       1
3-7         1
63+9        1
36          1
Name: goalkeeping_handling, Length: 328, dtype: int64
11       1299
9        1287
7        1263
10       1250
13       1241
         ...
66+4        1
70+4        1
57-17       1
63-12       1
21          1
Name: goalkeeping_kicking, Length: 331, dtype: int64
7       1297
9       1292
13      1272
8       1266
10      1237
        ...
67+3       1
2-4        1
64-5       1
65+8       1
41-1       1
Name: goalkeeping_positioning, Length: 333, dtype: int64
6        1280
8        1273
10       1247
7        1245
13       1219
         ...
78+11       1
85+8        1
70-2        1
17-8        1
41          1
Name: goalkeeping_reflexes, Length: 333, dtype: int64
60+0    568
57+0    558
59+0    557
58+0    518
62+0    509
       ...
82+3      1
77+2      1
57+1      1
91+3      1
89+3      1
Name: ls, Length: 111, dtype: int64
60+0    568
57+0    558
59+0    557
58+0    518
62+0    509
       ...
82+3      1
77+2      1
57+1      1
91+3      1
89+3      1
Name: st, Length: 111, dtype: int64
60+0    568
57+0    558
59+0    557
58+0    518
62+0    509
       ...
82+3      1
77+2      1
57+1      1
91+3      1
89+3      1
Name: rs, Length: 111, dtype: int64
62+0    581
63+0    571
64+0    565
59+0    558
60+0    555
       ...
52+1      1
89+3      1
53+1      1
72+2      1
92+3      1
Name: lw, Length: 120, dtype: int64
61+0    571
59+0    571
60+0    540
58+0    536
62+0    534
       ...
63+1      1
81+2      1
91+3      1
51+1      1
90+3      1
Name: lf, Length: 111, dtype: int64
61+0    571
59+0    571
60+0    540
58+0    536
62+0    534
       ...
63+1      1
81+2      1
91+3      1
51+1      1
90+3      1
Name: cf, Length: 111, dtype: int64
61+0    571
59+0    571
60+0    540
58+0    536
62+0    534
       ...
63+1      1
81+2      1
91+3      1
51+1      1
90+3      1
Name: rf, Length: 111, dtype: int64
62+0    581
63+0    571
64+0    565
59+0    558
60+0    555
       ...
52+1      1
89+3      1
53+1      1
72+2      1
92+3      1
Name: rw, Length: 120, dtype: int64
62+0    573
60+0    564
61+0    545
63+0    542
58+0    534
       ...
89+3      1
73+2      1
48+1      1
52+1      1
92+3      1
Name: lam, Length: 117, dtype: int64
62+0    573
60+0    564
61+0    545
63+0    542
58+0    534
       ...
89+3      1
73+2      1
48+1      1
52+1      1
92+3      1
Name: cam, Length: 117, dtype: int64
62+0    573
60+0    564
61+0    545
63+0    542
58+0    534
       ...
89+3      1
73+2      1
48+1      1
52+1      1
92+3      1
Name: ram, Length: 117, dtype: int64
62+0    619
61+0    619
60+0    590
64+0    587
63+0    586
       ...
85+1      1
58+1      1
77+2      1
75+2      1
90+3      1
Name: lm, Length: 111, dtype: int64
59+0    645
57+0    628
60+0    625
58+0    603
56+0    599
       ...
83+1      1